<% if current_user == user %>
  <p>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, method: :delete %>
  </p>
<% end %>

<p><strong>Name: <%= user.name %></strong></p>
<p><strong>Email: <%= user.email %></strong></p>
